{% extends 'base.html' %}
{% block title %}修改数量{% endblock %}
{% block content %}
    <div class="container" style="height: 600px">
        <div class="col-md-4 col-md-offset-4">
            <form class='form-inorder' action="{% url 'inorder:editmore' inorder_id=inorder_id inorderclothes_id=inorderclothes_id %}" method="post">

                {% if msg %}
                    <div class="alert alert-warning">{{ msg }}</div>
                {% endif %}

                {% csrf_token %}

                <h2 class="text-center">修改数量</h2>
                <div class="form-group">
                    {{ editmore_form.clothes.label_tag }}
                    {{ editmore_form.clothes }}
                    {{ editmore_form.clothes.errors }}
                </div>
                <div class="form-group">
                    {{ editmore_form.amount.label_tag }}
                    {{ editmore_form.amount }}
                    {{ editmore_form.amount.errors }}
                </div>

                <button type="reset" class="btn btn-default pull-left">重置</button>
                <button type="submit" class="btn btn-primary pull-right">保存</button>

            </form>
        </div>
    </div> <!-- /container -->
{% endblock %}